*{   margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: serif;
}

/*------------  HEADER --------------*/

header{
    background-color: black;
    padding: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav a img{
    width: 350px;
    height: 150px;
}

header nav ul{
    list-style: none;
    font-size: 20px;
    list-style: none;
    display:flex ;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li{
    margin-right: 20px;
}



/*------------- MAIN -------------*/

main{
    width: 100%;
    height: 525px; 
    background-image: url(../img/Mesa\ de\ trabajo\ 2\ \(1\).png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    color: white;
    flex-wrap: wrap;
}

.contacto{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto h1{
    font-size: 43px;
    text-align: center;
    text-decoration:underline;
    margin-bottom: 5px;
    color: white;
}

.contacto p{
    margin: 5px;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.inicio a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 8px;
}

.inicio{
text-align: center;
margin-top: 15px;
}

/*------------- FOOTER -----------*/
footer{
    background-color: black;
    padding: 20px;display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.redesfooter{
    color: white;
}

.redesfooter p{
    margin: 8px;
}

footer  nav a img{
    width: 350px;
    height: 150px;
}

@media screen and (max-width:837px){
    header{
        flex-direction: column;
        }
        header nav ul li a{
            font-size: 15px;
        }
}

@media screen and (max-width:650px){
    header nav a img{
        width: 250px;
        height: 100px;
    }
}

@media screen and (max-width:1200px){
    .contacto h1{
        font-size: 41px;
    }
}

@media screen and (max-width:860px){
    .contacto h1{
        font-size: 35px;
    }
    .contacto p{
        font-size: 18px;
    }
}

@media screen and (max-width:837px){
    footer{
        flex-direction: column;
    }
    .redesfooter p{
        font-size: 15px;
    }
}

@media screen and (max-width:650px){
    footer nav a img{
        width: 250px;
        height: 100px;
    }
}

@media screen and (max-width:430px){
    header nav ul li a{
        font-size: 13px;
    }
    .contacto h1{
        font-size: 30px;
    }
    .contacto p{
        font-size: 15px;
    }
}

@media screen and (max-width: 656px){
    .inicio{
        height: 50px;
    }
}
